@import url("../_variables.css");

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row nowrap;
    gap: 20px;
    padding: 1em 2em;
    height: 5.5em;
    width: 100%;
    top: 0%;
    position: fixed;
    background-color: #303141;
    color: #fff;
    border-bottom: 1px solid rgb(73, 80, 119);
    z-index: 999;

    * {
        transition: all 0.3s ease;
    }

    @media (width <= 992px) {
        height: 4em;
        padding: 1em 1rem;
        gap: 10px;
    }
}

.sec-1 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-flow: row wrap;
    flex-shrink: 0;
    width: auto;
    min-width: 12.5em;
    padding-bottom: 8px;
    border-right: 1px solid var(--color-white);

    img {
        filter: invert(100%) brightness(400%);
        transition: all 0.3s ease;

        @media (width <= 992px) {
            width: 6em;
        }
    }
    
    @media (width <= 1200px) {
        border-right: 0;
    }

    @media (width <= 992px) {
        width: 8rem;
        padding-bottom: 0;
        gap: 5px;
    }
}

.sec-2 {
    flex: 1;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-flow: column wrap;
    min-width: 0;

    .navlist {
        flex: 1;
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
        list-style: none;
        text-decoration: none;
        gap: clamp(15px, 2vw, 30px);

        details {
            flex: 0 1 auto;
            min-width: max-content;
            font-size: 0.8em;
            letter-spacing: 0.1em;
            font-weight: 500;
            text-transform: uppercase;
            cursor: pointer;
            user-select: none;
            position: relative;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }
    }

    @media (width > 1400px) {
        padding-left: 2.5em;

        .navlist {
            gap: 50px;
        }
    }

    @media (width <= 1200px) {
        padding-left: 10px;
        display: none;
    }
}

details {
    summary {
        display: flex;
        align-items: center;
        gap: 2px;

        &::-webkit-details-marker,
        &::marker {
            display: none;
            content: "";
        }
    }
}

.sec-3 {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: min-content;
    gap: clamp(15px, 2vw, 30px);
    flex-shrink: 0;

    details {
        position: relative;
        cursor: pointer;
        font-size: 0.8em;

        &:first-child {
            margin-right: 40px;

            @media (width <= 1400px) {
                margin-right: 10px;
            }
        }
    }

    @media (width <= 1200px) {
        gap: 15px;
    }

    @media (width <= 992px) {
        details {
            display: none;
        }
    }
}

.burger {
    display: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #fff;
    font-size: large;
    margin-top: 10px;

    @media (width <= 992px) {
        display: block;
    }
}

.button.login {
    color: #303141;
}

.login svg {
    font-size: large;
}

.cart-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    text-transform: uppercase;
    font-size: 0.8em;

    @media (width <= 992px) {
        display: none;
    }
}

.currency-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.currency-item img {
    width: 2em;
}