@import url('./_variables.css');

.main-container {
    width: 65%;
    height: 100%;
}

.title {
    color: white;
    font-size: 2.5em;
    letter-spacing: 0.68px;
}

.modal-container {
    margin-top: 2%;
}

.header-modal-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: var(--color-grey);

    span {
        font-weight: 300;
    }
}

.filter-input-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #4c608533;
    padding: 10px;
    border-radius: 2px;
    width: 12em;
    height: 100%;

    .select-input {
        #custom-select {
           .select-content {
                label {
                    color: rgb(184, 187, 186);
                }
           }
        }

        .input-icon {
            font-size: 36px;
        }
    }
}

.list {
    margin-top: 3%;
}


@media (max-width: 950px) {
    .title {
        font-size: 1.5em;
    }

    .modal-container {
        margin-top: 4%;
    }

    .main-container {
        width: 90%;
        height: 100%;
        margin-top: 5em;
    }

    .filter-input-container {
        width: 100%;
    }

    .header-modal-container p {
        display: none;
    }
}