@import url("./_variables.css");

#items-view {
  width: 65%;
  height: 100%;

  @media (max-width: 992px) {
    width: 90%;
    height: 100%;
    margin-top: 5em;
  }

  .title {
    color: var(--color-white);
    font-size: 2.5em;
    letter-spacing: var(--letter-spacing-xs);

    @media (width <= 992px) {
      font-size: 1.5em;
    }
  }

  .modal-container {
    margin-top: 2%;

    @media (width <= 992px) {
      margin-top: 4%;
    }
  }

  .header-modal-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: var(--color-grey);

    span {
      font-weight: 300;

      @media (width <= 769px) {
        display: none;
      }
    }
  }

  .filter-input-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: var(--color-background-input-grey);
    padding: 10px;
    border-radius: 2px;
    width: 12em;
    height: 100%;

    .select-input {
      #custom-select {
        .select-content {
          label {
            color: rgb(184, 187, 186);
          }
        }
      }

      .input-icon {
        font-size: 36px;
      }
    }

    @media (width <= 769px) {
      width: 100%;
    }
  }

  .list {
    margin-top: 3%;
  }
}
